__pycache__
.idea
*.ipynb_checkpoints*
data/full/individual_athlete_lap_data.csv
data/full/individual_athlete_lap_data_PREVIOUS.csv
data/full/individual_athlete_lap_data_PREVIOUS.pk
data/archive/
data/scraped/raw/